body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
  }
  
  .rooms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
  }
  
  .room {
    font-weight:bold;
    font-size:16px;
    margin-bottom:8px;
    background-color:white;
    color:red;
    padding:8px;
    text-align:center;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
  }
  #shuffleButton{
    background-color:red;
    color:white;
    border:1px;
    padding:10px 20px;
    text-align:center;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    margin-bottom:10px;
  }